#main {
	margin-top: 100px;
	
}
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
#tiles li {
 	width: 500px;
	background-color: #F0EFFF;
	border: 1px solid #dedede; 
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	display: none;
	cursor: pointer;
	border-radius: 0.2em;
}
#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li.inactive {
 /* visibility: hidden;
  opacity: 0; */
}

#tiles li img {
 	display: block;
}
